:root {
	--title: #eb2618;
}

@font-face {
	font-family: 'Saturn';
	src: url('../fonts/NiseSegaSaturnU.TTF');
}

* {
	font-family: 'Saturn';
}

.background {
	overflow: hidden;
	height: 100vh;
	background-color: black;
}

.sky {
	width: 100%;
	height: 70vh;
	background-image: url('../assets/bg_sky.png');
	position: absolute;
	top: 0;
	left: 0;
	perspective: 200px;
	overflow: hidden;
}

@keyframes starspositionanim {
	0% {
		opacity: .2;
		background-position-y: 256px;
	}
	100% {
		opacity: .2;
		background-position-y: 0;
	}
}

@keyframes starsopacityanim {
	0% {
		opacity: .2;
	}
	50% {
		opacity: .7;
	}
	100% {
		opacity: .2;
	}
}

.stars {
	width: 100%;
	height: 1091px;
    background-image: url('../assets/stars.png');
    position: absolute;
    top: -273px;
    left: -100vw;
    transform: rotateX(328deg);
    width: 300vw;
    animation: 
		starspositionanim 60s linear infinite,
		starsopacityanim 2s linear infinite;
    z-index: 3;
}

@keyframes bganim {
	from {
		background-position-y: 9px;
	}
	to {
		background-position-y: 907px;
	}
}

.ground-perspective {
	perspective: 200px;
	height: 50vh;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

.ground {
	position: absolute;
	left: -100vw;
	width: 300%;
	height: 50vh;
	top: -100px;
	background: url('../assets/bg.png');
	transform: rotateX(50deg);
	animation: bganim 5s linear infinite;
}

.ground::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(rgba(59, 17, 17, 0.9) 10%, rgba(0,0,0,0) 90%)
}

.frontground {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.line-twitter {
	display: flex;
	align-items: center;
}

.line-twitter > p {
	margin-top: 12px;
	margin-left: 12px;
}

@keyframes twitteranim {
	0% {
		transform: translateY(-5px) rotateY(0deg);
	}
	50% {
		transform: translateY(5px) rotateY(180deg);
	}
	100% {
		transform: translateY(-5px) rotateY(360deg);
	}
}

.twitter-icon {
	transform-origin: center;
	animation: twitteranim 3s linear infinite;
}

@keyframes titleanim {
	0% {
		opacity: 1;
	}
	50% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.title {
	color: var(--title);
	text-shadow: 2px 2px #fff;
	font-size: 70px;
	animation: titleanim 2s linear infinite;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
}

.window-title {
	color: #000;
	position: relative;
	font-size: 12px;
    transform: translateY(-45px);
    margin-bottom: -20px;
}

.content {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.schedule {
	background: rgba(255,255,255, .08);
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 16px;
	border: 3px solid #ccc;
	border-top: 36px solid #ccc;
	backdrop-filter: blur(20px);
	position: relative;
	margin-bottom: 24px;
}

.schedule::before {
	position: absolute;
	content: "\d7";
	width: 24px;
	height: 24px;
	background-color: #888;
	box-shadow: 0 0 0 2px #aaa;
	top: 0;
	right: 10px;
	transform: translate(0, calc(-100% + -6px));
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 5px;
}

.schedule::after {
	position: absolute;
	content: '-';
	width: 24px;
	height: 24px;
	background-color: #888;
	box-shadow: 0 0 0 2px #aaa;
	top: 0;
	right: 42px;
	transform: translate(0, calc(-100% + -6px));
	display: flex;
	align-items: center;
	justify-content: center;
}

.schedule > h2 {
	margin-bottom: 12px;
}

.schedule > h5 {
	margin-bottom: 36px;
}

.schedule > ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	width: 100%;
	display: flex;
	align-items: flex-start;
	gap: 24px;
}

.schedule > ul > li {
	font-size: 14px;
}

.vacancy {
	color: #666;
}

.is-today {
	font-weight: bold;
	font-size: 18px !important;
}

.is-today > span {
}

@keyframes spaceshipanim {
	0% {
		transform: 
			translate(-330px, 300px)
			scale(1)
			rotate(70deg)
		;
	}
	5% {
		transform: 
			translate(400px, 300px)
			scale(.9)
			rotate(30deg)
		;
	}
	7% {
		transform: 
			translate(400px, 300px)
			scale(.8)
			rotate(-14deg)
		;
	}
	8% {
		transform: 
			translate(390px, 300px)
			scale(.7)
			rotate(0deg)
		;
	}
	9% {
		transform: 
			translate(470px, 300px)
			scale(.6)
			rotate(10deg)
		;
	}
	12% {
		transform: 
			translate(600px, 300px)
			scale(.4)
			rotate(-5deg)
		;
	}
	15% {
		filter: drop-shadow(0px 0px 40px #D5B9F9);
		transform:
			translate(790px, 300px)
			scale(0)
			rotate(5deg)
		;
	}
	17% {
		filter: drop-shadow(0px 0px 100px #D5B9F9);
	}
	50% {
		filter: 
			drop-shadow(0px 0px 100px #D5B9F9) 
			brightness(.1)
		;
	}
	100% {
		filter: 
			drop-shadow(0px 0px 100px #D5B9F9) 
			brightness(0)
		;
		transform: 
			translate(800px, 300px)
			scale(0)
		;
	}
}

.spaceship {
	width: 400px;
	height: auto;
	posittion: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	animation: spaceshipanim 40s linear infinite;

}

.saturn {
    width: 1870px;
    height: auto;
    position: absolute;
    top: 50px;;
    left: 50%;
    transform: translateX(-50%);
    opacity: .1;
	z-index: 1;
}

@keyframes mountainsanim {
	0% {
		transform: translateX(-50%) scale(.6);
	}
	100% {
		transform: translateX(-50%) scale(1.1);
	}
}

.mountains {
    width: 1920px;
    height: 214px;
    position: absolute;
    bottom: -37px;
    left: 50%;
	z-index: 2;
	animation: mountainsanim 300s linear infinite;
}